<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet8" value="https://dnceng.pkgs.visualstudio.com/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key=".Net Core Tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <!-- *.Tools packages will be restored from ".Net Core Tools", everything else from nuget.org. -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet8">
      <package pattern="Microsoft.CodeAnalysis.PublicApiAnalyzers" />
    </packageSource>
    <packageSource key=".Net Core Tools">
      <package pattern="Microsoft.DotNet.ApiCompat" />
    </packageSource>
  </packageSourceMapping>

  <disabledPackageSources />
</configuration>
