name: API Compatibility

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
    - '**.md'

jobs:
  build-test:
    runs-on: windows-latest
    env:
      CheckAPICompatibility: true
    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore
