name: Concurrency Tests

on:
  push:
    branches: [ 'main*' ]
    paths-ignore:
    - '**.md'
  pull_request:
    branches: [ 'main*' ]
    paths-ignore:
    - '**.md'

jobs:
  build-test-stable:
    strategy:
      fail-fast: false  # ensures the entire test matrix is run, even if one permutation fails
      matrix:
        os: [ windows-latest ]
        version: [ net6.0 ]
        coyote-version: [ 1.7.10 ]
        methodsToTest: [ MultithreadedLongHistogramTest_Coyote ]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # fetching all

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore /p:CheckEolTargetFramework=false

    - name: Coyote Test
      shell: pwsh
      run: .\build\test-threadSafety.ps1 ${{ matrix.coyote-version }} ${{ matrix.version }} ${{ matrix.methodsToTest }}