# Syntax: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# See also: https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks

# Description: This workflow exists to unblock documentation-only PRs.

# IMPORTANT: This workflow MUST use the same 'name' and 'matrix' as the non -md workflow.

name: Test instrumentation libraries

on:
  pull_request:
    branches: [ 'main*' ]
    paths:
    - '**.md'

jobs:
  build-test:
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest ]
        version: [ net462, net6.0, net7.0, net8.0 ]
        exclude:
        - os: ubuntu-latest
          version: net462

    runs-on: ubuntu-latest
    steps:
    - run: 'echo "No build required"'
