# Called by ci.yml to run coyote concurrency tests
# See: https://docs.github.com/en/actions/using-workflows/reusing-workflows#creating-a-reusable-workflow
name: Concurrency Tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  run-concurrency-tests:

    strategy:
      fail-fast: false  # ensures the entire test matrix is run, even if one permutation fails
      matrix:
        os: [ windows-latest, ubuntu-22.04 ]
        version: [ net10.0, net11.0 ]
        project: [ OpenTelemetry.Tests, OpenTelemetry.Api.Tests ]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup dotnet
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0

    - name: Run Coyote Tests
      shell: pwsh
      run: .\build\scripts\test-threadSafety.ps1 -testProjectName ${env:PROJECT_NAME} -targetFramework ${env:TARGET_FRAMEWORK}
      env:
        PROJECT_NAME: ${{ matrix.project }}
        TARGET_FRAMEWORK: ${{ matrix.version }}

    - name: Publish Artifacts
      if: always() && !cancelled()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: ${{ matrix.os }}-${{ matrix.project }}-${{ matrix.version }}-coyoteoutput
        path: '**/*_CoyoteOutput.*'
