# Called by ci.yml to run coyote concurrency tests
# See: https://docs.github.com/en/actions/using-workflows/reusing-workflows#creating-a-reusable-workflow
name: Concurrency Tests

on:
  workflow_call:

jobs:
  run-concurrency-tests:

    strategy:
      fail-fast: false  # ensures the entire test matrix is run, even if one permutation fails
      matrix:
        os: [ windows-latest, ubuntu-latest ]
        version: [ net8.0 ]
        project: [ OpenTelemetry.Tests, OpenTelemetry.Api.Tests ]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4

    - name: Run Coyote Tests
      shell: pwsh
      run: .\build\test-threadSafety.ps1 -testProjectName ${{ matrix.project }} -targetFramework ${{ matrix.version }}

    - name: Publish Artifacts
      if: always() && !cancelled()
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}-${{ matrix.project }}-${{ matrix.version }}-coyoteoutput
        path: '**/*_CoyoteOutput.*'
