# Called by ci.yml to run documentation build
# See: https://docs.github.com/en/actions/using-workflows/reusing-workflows#creating-a-reusable-workflow
name: Build docfx

on:
  workflow_call:

permissions:
  contents: read

jobs:
  run-docfx-build:
    runs-on: windows-latest

    steps:
    - name: check out code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup dotnet
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1

    - name: install docfx
      run: dotnet tool install -g docfx

    - name: run .\build\docfx.cmd
      shell: cmd
      run: .\build\docfx.cmd
