name: .NET Windows

on:
  pull_request:
    branches: [ master ]

jobs:
  build-test:
    runs-on: windows-latest

    strategy:
      matrix:
        version: [net452,net46,net461,netcoreapp2.1,netcoreapp3.1]

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test ${{ matrix.version }}
      run: dotnet test **\bin\**\${{ matrix.version }}\*Tests.dll --configuration Release --no-build 
