name: markdownlint

on:
  push:
    branches: [ main ]
    paths:
    - '**.md'
  pull_request:
    branches: [ main ]
    paths:
    - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: check out code
      uses: actions/checkout@v3

    - name: install markdownlint-cli
      run: sudo npm install -g markdownlint-cli

    - name: run markdownlint
      run: markdownlint .
