# Called by ci.yml to perform markdown linting
# See: https://docs.github.com/en/actions/using-workflows/reusing-workflows#creating-a-reusable-workflow
name: Lint - Markdown

on:
  workflow_call:

jobs:
  run-markdownlint:
    runs-on: ubuntu-22.04

    steps:
    - name: check out code
      uses: actions/checkout@v4

    - name: run markdownlint
      uses: DavidAnson/markdownlint-cli2-action@v19.1.0
      with:
        globs: |
          **/*.md
          !.github/**/*.md
