name: Package Validation

on:
  pull_request:
    branches: [ 'main*' ]
    paths-ignore:
    - '**.md'

jobs:
  build-test-stable:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # fetching all

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3

    - name: Install dependencies
      run: dotnet restore

    - name: Pack
      run: dotnet pack --configuration Release --no-restore /p:EnablePackageValidation=true /p:ExposeExperimentalFeatures=false

  build-test-experimental:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # fetching all

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3

    - name: Install dependencies
      run: dotnet restore

    - name: Pack
      run: dotnet pack --configuration Release --no-restore /p:EnablePackageValidation=true /p:ExposeExperimentalFeatures=true
