#################################################
################### IMPORTANT ###################
# DON'T RENAME THIS FILE UNLESS WE START
# RELEASING THE VERSION 2.*
################### IMPORTANT ###################
#################################################

name: Pack and publish to Myget

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
  schedule:
    - cron: '0 0 * * *' # once in a day at 00:00

jobs:
  build-pack:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]
        branches: [main]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # fetching all
        ref: ${{ matrix.branches }}

    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true

    - name: Install dependencies
      run: dotnet restore

    - name: dotnet build
      run: dotnet build --configuration Release --no-restore -p:Deterministic=true -p:BuildNumber=${{ github.run_number }}

    - name: dotnet pack
      run: dotnet pack OpenTelemetry.proj --configuration Release --no-build

    - name: Publish Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os }}-packages
        path: '**/bin/**/*.*nupkg'

    - name: Publish MyGet
      run: |
        nuget setApiKey ${{ secrets.MYGET_TOKEN }} -Source https://www.myget.org/F/opentelemetry/api/v2/package
        nuget push **/bin/**/*.nupkg -Source https://www.myget.org/F/opentelemetry/api/v2/package
