# Syntax: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# Github Actions Stale: https://github.com/actions/stale

name: "Manage stale issues and pull requests"
on:
  schedule:
    - cron: "12 3 * * *"  # arbitrary time not to DDOS GitHub

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          stale-issue-message: 'This issue was marked stale due to lack of activity and will be closed in 7 days. Commenting will instruct the bot to automatically remove the label. This bot runs once per day.'
          close-issue-message: 'Closed as inactive. Feel free to reopen if this issue is still a concern.'
          stale-pr-message: 'This PR was marked stale due to lack of activity and will be closed in 7 days. Commenting or pushing will instruct the bot to automatically remove the label. This bot runs once per day.'
          close-pr-message: 'Closed as inactive. Feel free to reopen if this PR is still being worked on.'
          operations-per-run: 400
          days-before-pr-stale: 7
          days-before-issue-stale: 300
          days-before-pr-close: 7
          days-before-issue-close: 7
          exempt-all-issue-milestones: true
          exempt-issue-labels: 'keep-open,needs-triage'
          exempt-pr-labels: 'keep-open'
